---
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <Header />
  <body class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    <main class="porse lg:prose-lg my-10 mx-auto max-w-3xl">
      <h1 class="lg:text-3xl">{frontmatter.title}</h1>
      <p class="border-b-2">{frontmatter.description}</p>
      <slot />
    </main>
  </body>
</html>
